.accordion {
 position: relative;
 padding-right: 40px;
 border-bottom: 1px solid var(--text-color);

 &::before,
 &::after {
  position: absolute;
  top: 35px;
  right: 6px;
  width: 16px;
  height: 2px;
  background-color: var(--text-color);
  transition: transform var(--transition);
  content: '';
 }

 &::after {
  transform: rotate(90deg);
 }

 // .accordion__btn
 &__btn {
  width: 100%;
  font-family: inherit;
  font-size: clamp(18px, vwt(24px), 24px);
  font-weight: 700;
  text-align: left;
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-block: clamp(16px, vwt(24px), 24px);
  padding-inline: 0;
 }

 // .accordion__content
 &__content {
  overflow: hidden;
  max-height: 0;
  padding-bottom: 0;
  opacity: 0;
  transition: all var(--transition);
  will-change: max-height;

  .accordion-active & {
   padding-bottom: 20px;
   opacity: 1;
  }
 }

 // .accordion__text
 &__text {
  @include margin-block;
 }
}

.accordion-active {
 &::after {
  transform: rotate(0deg);
 }
}
