@font-face {
 font-weight: 400;
 font-family: Montserrat;
 font-style: normal;
 src: url('@/fonts/Montserrat-Regular.woff2') format('woff2');
 font-display: swap;
}

@font-face {
 font-weight: 500;
 font-family: Montserrat;
 font-style: normal;
 src: url('@/fonts/Montserrat-Medium.woff2') format('woff2');
 font-display: swap;
}

@font-face {
 font-weight: 600;
 font-family: Montserrat;
 font-style: normal;
 src: url('@/fonts/Montserrat-SemiBold.woff2') format('woff2');
 font-display: swap;
}
