.footer {
 background: #2834303d;
 backdrop-filter: blur(100px);
 padding-block: 80px;

 @include m {
  margin-top: -110px;
  padding-block: 50px;
 }

 // .footer__container
 &__container {
  @include container;

  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 32px;

  @include bt {
   grid-template-columns: repeat(4, 1fr);
  }

  @include t {
   grid-template-columns: repeat(3, 1fr);
  }

  @include m {
   grid-template-columns: repeat(2, 1fr);
  }
 }

 // .footer__top
 &__top {
  @include bt {
   grid-row: 1/2;
   grid-column: 1/3;
  }
 }

 // .footer__logo
 &__logo {
  margin-bottom: 10px;
 }

 // .footer__text
 &__text {
  @include margin-block;
 }

 // .footer__list
 &__list {
  @include list;

  @include bt {
   grid-row: 2/3;
  }

  @include t {
   &:last-child {
    grid-row: 3/4;
   }
  }

  @include m {
   &:nth-child(3) {
    grid-row: 3/4;
   }
  }
 }

 // .footer__li
 &__li {
  &:not(:last-child) {
   margin-bottom: 8px;
  }

  &:first-child {
   font-weight: 700;
   color: var(--white);
   margin-bottom: 16px;
  }
 }

 // .footer__link
 &__link {
  position: relative;

  @include link;
  @include hover;
 }
}
