@use 'foundation' as *;

.footer {
 padding-top: var(--gap-content);
 padding-bottom: var(--gap-section);
 background: #f7f6f6;

 // .footer__container
 &__container {
  @include container;

  display: flex;
  justify-content: space-between;

  @include bm {
   flex-direction: column;
   align-items: center;
   row-gap: rem(70);
  }
 }

 // .footer__logo
 &__logo {
  font-size: 36px;
  font-weight: 600;
  white-space: nowrap;
  color: var(--black);

  @include t {
   display: none;
  }
 }

 // .footer__wrap
 &__wrap {
  display: flex;
  column-gap: rem(129);
  line-height: 1;
 }

 // .footer__menu
 &__menu {
  display: flex;
  flex-direction: column;
  row-gap: rem(14);

  // .footer__menu-title
  &-title {
   margin-block: 0;
   font-size: 24px;
   font-weight: 500;
   color: var(--black);
  }

  // .footer__menu-list
  &-list {
   @include list;

   display: flex;
   flex-direction: column;
   row-gap: rem(14);
  }
 }

 // .footer__contact
 &__contact {
  display: flex;
  flex-direction: column;
  row-gap: rem(14);

  // .footer__contact-title
  &-title {
   margin-block: 0;
   font-size: 24px;
   font-weight: 500;
   color: var(--black);
  }

  // .footer__contact-social-list
  &-social-list {
   display: flex;
   column-gap: rem(20);
   padding-left: 0;
   list-style: none;
   margin-block: 0;
  }

  // .footer__contact-link
  &-link {
   display: block;
   line-height: 0;
  }

  // .footer__contact-ico
  &-ico {
   @include svg-color;

   display: block;
   color: inherit;

   &:hover {
    @media (any-hover: hover) {
     color: var(--black);
    }
   }
  }
 }

 // .footer__form
 &__form {
  display: flex;
  flex-direction: column;
  row-gap: rem(8);
  color: var(--black);

  // .footer__form-label
  &-label {
   font-size: rem(12);
  }

  // .footer__form-input
  &-input {
   min-height: rem(40);
   font-family: inherit;
   background: var(--white);
   border: 1px solid #c4c4c4;
   border-radius: rem(16);
   padding-inline: rem(20);

   &::placeholder {
    font-size: rem(12);
    color: #c4c4c4;
   }
  }

  // .footer__form-button
  &-button {
   min-height: rem(40);
   font-family: inherit;
   font-size: rem(12);
   background: #ded7d769;
   border: none;
   border-radius: 16px;
   cursor: pointer;
   padding-inline: 0;
  }
 }
}
