@use 'foundation' as *;

.section-title {
 @include fluid-text(48, 24, $ipad, $xxsm);

 margin-block: 0;
 margin-bottom: var(--gap-content);
 font-weight: 600;
 color: var(--black);
}

.discount__content,
.catalog__content {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
 gap: rem(56) rem(32);

 @include ipad {
  gap: var(--gap-content);
 }
}

.product-card {
 display: grid;
 grid-template-rows: auto 1fr 1fr auto;
 row-gap: rem(12);
 text-decoration: none;

 // .product-card__img
 &__img {
  width: 100%;
  height: auto;
  aspect-ratio: 380 / 250;
  object-fit: cover;
 }

 // .product-card__title
 &__title {
  @include fluid-text(24, 18, $ipad, $xxsm);

  font-weight: 500;
  margin-block: 0;
  color: var(--black);
 }

 // .product-card__text
 &__text {
  font-size: 14px;
  line-height: 1.2;
  margin-block: 0;
  color: var(--text-color);
 }

 // .product-card__price-block
 &__price-block {
  @include fluid-text(24, 18, $ipad, $xxsm);

  display: flex;
  justify-content: space-between;
  font-weight: 500;
 }

 // .product-card__new-price
 &__new-price {
  color: #050505;
 }

 // .product-card__price
 &__price {
  text-decoration: line-through;
  color: var(--text-color);
 }
}

.footer__link {
 font-size: 14px;
 text-decoration: none;
 color: inherit;
 transition: color var(--transition);

 &:hover {
  @media (any-hover: hover) {
   text-decoration: underline;
   color: var(--black);
  }
 }
}
