@use 'foundation' as *;

.header {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 100;
 width: 100%;
 background-color: transparent;
 transition: background-color var(--transition);

 @include m {
  &::before {
   position: absolute;
   inset: 0;
   z-index: 200;
   background-color: #74615a;
   transform: translate(100%);
   transition: transform var(--transition);
   content: '';
  }
 }

 // .header__container
 &__container {
  @include container;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: rem(12);
  min-height: rem(77);
  transition:
   min-height var(--transition),
   background-color var(--transition),
   border-radius var(--transition);

  &::before {
   position: absolute;
   right: 80;
   bottom: 0;
   left: 80;
   width: calc(100% - var(--padding-inline) * 2);
   height: 1px;
   background-color: #ffcc;
   content: '';
  }

  @include m {
   min-height: rem(60);
  }

  &.header-scrolling {
   min-height: rem(60);
   background-color: rgb(116 97 90 / 80%);
   border-radius: 0 0 20px 20px;

   &::before {
    display: none;
   }

   @include m {
    min-height: rem(45);
   }
  }
 }

 // .header__logo
 &__logo {
  @include fluid-text(36, 18, $ipad, $xxsm);

  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: var(--white);
 }

 // .header__input-search
 &__input-search {
  min-height: rem(44);
  padding-inline: 30px;
  font-family: inherit;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 20px;

  &::placeholder {
   font-size: rem(16);
   color: inherit;
  }

  @include bm {
   display: none;
  }

  // .header__input-search-button
  &-button {
   display: none;
   color: var(--white);
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding-inline: 0;

   @include bm {
    display: block;
   }
  }

  // .header__input-search-icon
  &-icon {
   @include svg-color;

   display: block;
  }
 }
}

.menu-active.header::before {
 transform: translate(0);
}

// .header__menu
.menu {
 @include m {
  position: fixed;
  inset: 0;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: rem(150) 0 rem(30);
  transform: translateX(100%);
  transition: transform var(--transition);
 }

 &.menu-active {
  transform: translateX(0);
 }

 // .menu__list
 &__list {
  @include list;

  display: flex;
  align-items: center;

  @include m {
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: center;
   row-gap: rem(32);
   margin-bottom: rem(30);
  }

  // .menu__item
  &-item {
   &:not(:last-child) {
    padding-right: var(--gap-content);
   }
  }

  // .menu__link
  &-link {
   position: relative;
   display: block;
   font-size: rem(16);
   line-height: 1;
   text-transform: capitalize;
   text-decoration: none;
   white-space: nowrap;
   color: var(--white);
   border: rem(1) solid transparent;
   border-radius: rem(10);
   padding-block: rem(13);

   &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--brand-color);
    transform: translateX(-50%) scale(0);
    transition: transform var(--transition);
    content: '';
   }

   &:hover:not(.is-active)::before {
    @media (any-hover: hover) {
     transform: translateX(-50%) scale(1);
    }
   }

   &.is-active {
    padding-inline: rem(23);
    font-weight: 500;
    color: var(--white);
    background-color: var(--background);
    border: rem(1) solid var(--color-dark-20);
   }

   @include l {
    padding-block: rem(11);
    padding-inline: rem(9);
   }

   @include m {
    font-size: rem(24);
   }
  }
 }
}

.burger-btn {
 display: none;

 @include m {
  position: relative;
  z-index: 300;
  display: block;
  width: rem(38);
  height: rem(38);
  background-color: transparent;
  border: 0;

  &:hover {
   @media (any-hover: hover) {
    cursor: pointer;
   }
  }

  span,
  &::before,
  &::after {
   position: absolute;
   right: rem(6);
   width: rem(26);
   height: rem(2);
   background-color: var(--white);
   transition: all 0.3s ease 0s;
   content: '';
  }

  &::before {
   top: rem(10);
  }

  &::after {
   bottom: rem(10);
   max-width: rem(13);
  }

  span {
   top: calc(50% - 1px);
  }
 }

 &.menu-active {
  span {
   width: 0;
  }

  &::before {
   top: calc(50% - 1px);
   transform: rotate(-45deg);
  }

  &::after {
   bottom: calc(50% - 1px);
   transform: rotate(45deg);
  }
 }
}
