@use 'sass:math';
@use 'variables' as *;
@use 'functions' as *;
@use 'root' as *;

@mixin xxsm {
 @media (width <= rem($xxsm)) {
  @content;
 }
}

@mixin xsm {
 @media (width <= rem($xsm)) {
  @content;
 }
}

@mixin sm {
 @media (width <= rem($sm)) {
  @content;
 }
}

@mixin m {
 @media (width <= rem($m)) {
  @content;
 }
}

@mixin bm {
 @media (width <= rem($bm)) {
  @content;
 }
}

@mixin ipad {
 @media (width <= rem($ipad)) {
  @content;
 }
}

@mixin st {
 @media (width <= rem($st)) {
  @content;
 }
}

@mixin t {
 @media (width <= rem($t)) {
  @content;
 }
}

@mixin bt {
 @media (width <= rem($bt)) {
  @content;
 }
}

@mixin l {
 @media (width <= rem($l)) {
  @content;
 }
}

@mixin d {
 @media (width <= rem($desktop)) {
  @content;
 }
}

@mixin viewport {
 @media (width <= rem($viewport)) {
  @content;
 }
}

@mixin container {
 max-width: calc(#{rem($desktop)} + var(--padding-inline) * 2);
 margin-inline: auto;
 padding-inline: var(--padding-inline);
 @content;
}

@mixin hover {
 &::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--brand-color);
  transform: translateX(-50%) scale(0);
  transition: transform var(--transition);
  content: '';
 }

 &:hover::before {
  @media (any-hover: hover) {
   transform: translateX(-50%) scale(1);
  }
 }
}

@mixin fluid-text(
 $max: 48,
 $min: 16,
 $max-viewport: $viewport,
 $min-viewport: 320
) {
 $max-viewport-width: $max-viewport;
 $min-viewport-width: $min-viewport;
 $max-size: math.div($max, 16);
 $min-size: math.div($min, 16);
 $max-width: math.div($max-viewport-width, 16);
 $min-width: math.div($min-viewport-width, 16);
 $slope: math.div(($max-size - $min-size), ($max-width - $min-width));
 $y-axis-intersection: -$min-width * $slope + $min-size;

 font-size: clamp(
  #{$min-size * 1rem},
  #{$y-axis-intersection * 1rem} + #{$slope * 100vw},
  #{$max-size * 1rem}
 );
}

@mixin resize-img(
 $max: 415,
 $min: 240,
 $max-viewport: $viewport,
 $min-viewport: $bm
) {
 $max-viewport-width: $max-viewport;
 $min-viewport-width: $min-viewport;
 $max-size: math.div($max, 16);
 $min-size: math.div($min, 16);
 $max-width: math.div($max-viewport-width, 16);
 $min-width: math.div($min-viewport-width, 16);
 $slope: math.div(($max-size - $min-size), ($max-width - $min-width));
 $y-axis-intersection: -$min-width * $slope + $min-size;

 min-height: clamp(
  #{$min-size * 1rem},
  #{$y-axis-intersection * 1rem} + #{$slope * 100vw},
  #{$max-size * 1rem}
 );
}

@mixin bg-image-set($base, $ext: 'jpg') {
 background-image: url('#{$base}.#{$ext}');
 background-image: image-set(
  url('#{$base}.avif') type('image/avif') 1x,
  url('#{$base}@2x.avif') type('image/avif') 2x,
  url('#{$base}.webp') type('image/webp') 1x,
  url('#{$base}@2x.webp') type('image/webp') 2x,
  url('#{$base}.#{$ext}') type('image/#{if($ext == "png", "png", "jpeg")}') 1x,
  url('#{$base}@2x.#{$ext}') type('image/#{if($ext == "png", "png", "jpeg")}')
   2x
 );
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

/*
@mixin active {
	@content;
	&:active {
			color: var(--black);
	}
}
*/
