.modals {
 &__overlay {
  position: fixed;
  inset: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  overflow: hidden;
  background-color: #000000b3;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &--visible {
   visibility: visible;
   cursor: pointer;
   opacity: 1;
  }
 }

 &__item {
  position: relative;
  display: none;
  flex-direction: column;
  max-width: 90%;
  padding: 32px 24px;
  background-color: var(--bg);
  row-gap: 32px;
  border: 2px solid var(--brand-color);
  border-radius: 20px;

  &--visible {
   display: flex;
   cursor: default;
  }
 }

 &__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 &__title {
  @include margin-block;

  font-size: 32px;
  font-weight: 400;
 }

 &__link {
  @include link;

  position: relative;
  align-self: center;

  @include hover;

  &::before {
   bottom: -5px;
  }
 }
}

.form {
 display: flex;
 flex-direction: column;

 // .form__input
 &__input {
  @include input;

  min-height: 59px;
  margin-bottom: 20px;
  padding: 12px;
  color: #000;
  border: 1px solid var(--black);
  border-radius: 32px;
 }

 // .form__btn
 &__btn {
  margin-bottom: 20px;
  padding-right: 32px;
  border: 2px solid transparent;
  transition: all var(--transition);

  &::before {
   display: none;
  }

  &:hover {
   @media (any-hover) {
    background-color: var(--bg);
    border: 2px solid var(--brand-color);
   }
  }
 }
}

.modals-btn-close {
 @include button;

 position: absolute;
 top: 5px;
 right: 5px;
 width: 44px;
 height: 44px;
 padding: 12px;
 background-color: transparent;
 border: none;
 cursor: pointer;

 &::before,
 &::after {
  position: absolute;
  right: 7px;
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--brand-color);
  content: '';
 }

 &::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
 }

 &::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
 }
}
