.modals {
 &__overlay {
  position: fixed;
  inset: 0;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #000000b3;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &--visible {
   visibility: visible;
   opacity: 1;
   cursor: pointer;
  }
 }

 &__item {
  position: relative;
  display: none;
  flex-direction: column;
  row-gap: rem(32);
  max-width: 90%;
  padding: rem(32) rem(24);
  background-color: var(--bg);
  border: rem(2) solid var(--brand-color);
  border-radius: rem(20);

  &--visible {
   display: flex;
   cursor: default;
  }
 }

 &__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 &__title {
  @include margin-block;

  font-size: rem(32);
  font-weight: 400;
 }

 &__link {
  @include link;

  position: relative;
  align-self: center;

  @include hover;

  &::before {
   bottom: rem(-5);
  }
 }
}

.form {
 display: flex;
 flex-direction: column;

 // .form__input
 &__input {
  @include input;

  min-height: rem(59);
  margin-bottom: rem(20);
  padding: rem(12);
  color: #000;
  border: rem(1) solid var(--black);
  border-radius: rem(32);
 }

 // .form__btn
 &__btn {
  margin-bottom: rem(20);
  padding-right: rem(32);
  border: rem(2) solid transparent;
  transition: all var(--transition);

  &::before {
   display: none;
  }

  &:hover {
   @media (any-hover) {
    background-color: var(--bg);
    border: rem(2) solid var(--brand-color);
   }
  }
 }
}

.modals-btn-close {
 @include button;

 position: absolute;
 top: rem(5);
 right: rem(5);
 width: rem(44);
 height: rem(44);
 padding: rem(12);
 background-color: transparent;
 border: none;
 cursor: pointer;

 &::before,
 &::after {
  position: absolute;
  right: rem(7);
  display: block;
  width: rem(30);
  height: rem(2);
  background-color: var(--brand-color);
  content: '';
 }

 &::before {
  top: calc(50% - rem(1));
  transform: rotate(-45deg);
 }

 &::after {
  bottom: calc(50% - rem(1));
  transform: rotate(45deg);
 }
}
