@use 'foundation' as *;

.main {
 margin-bottom: var(--gap-section);

 &__banner {
  margin-bottom: var(--gap-content);
 }

 &__for,
 &__discount {
  padding-block: var(--gap-content);
 }

 &__catalog {
  padding-top: var(--gap-content);
 }
}

.banner {
 &--home {
  @include bg-image-set('@/images/background/banner/banner-bg', 'jpg');
 }

 height: 100vh;
 color: var(--white);
 padding-top: rem(140);

 // .banner__container
 &__container {
  @include container;

  display: flex;
  flex-direction: column;
  row-gap: rem(16);
 }

 // .banner__title
 &__title {
  @include fluid-text(64, 36, $st, $xxsm);

  max-width: rem(790);
  margin-block: 0;
  font-weight: 600;
  line-height: 1;
 }

 // .banner__slogan
 &__slogan {
  max-width: rem(790);
  font-size: rem(24);
 }

 // .banner__catalog-link
 &__catalog-link {
  max-width: max-content;
  color: inherit;
  transition:
   color var(--transition),
   text-decoration var(--transition);

  &:hover {
   color: var(--text-color);
   text-decoration: none;
  }
 }
}

.for {
 // .for__container
 &__container {
  @include container;
 }

 // .for__content
 &__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-content);

  @include ipad {
   grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
   grid-template-columns: 1fr;
   justify-content: center;
  }

  // .for__content-element
  &-element {
   @include fluid-text(34, 28, $ipad, $xxsm);

   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   text-align: center;
   color: var(--white);
   text-decoration: none;
   text-transform: uppercase;
   padding-inline: rem(5);

   &--relax {
    @include bg-image-set('@/images/background/for/relax', 'jpg');

    grid-column: 1 / 4;
    grid-row: 1 / 2;
    aspect-ratio: 583 / 415;

    @include ipad {
     aspect-ratio: 379 / 415;
    }
   }

   &--sport {
    @include bg-image-set('@/images/background/for/sport', 'jpg');

    grid-column: 4 / 7;
    grid-row: 1 / 2;
    aspect-ratio: 583 / 415;

    @include ipad {
     aspect-ratio: 379 / 415;
    }
   }

   &--hobby {
    @include bg-image-set('@/images/background/for/hobby', 'jpg');

    grid-column: 1 / 3;
    grid-row: 2 / 3;
    aspect-ratio: 379 / 415;
   }

   &--kids {
    @include bg-image-set('@/images/background/for/kids', 'jpg');

    grid-column: 3 / 5;
    grid-row: 2 / 3;
    aspect-ratio: 379 / 415;
   }

   &--family {
    @include bg-image-set('@/images/background/for/family', 'jpg');

    grid-column: 5 / 7;
    grid-row: 2 / 3;
    aspect-ratio: 379 / 415;
   }

   @include ipad {
    grid-column: auto;
    grid-row: auto;
   }
  }
 }
}

.discount {
 // .discount__container
 &__container {
  @include container;
 }

 // .discount__content
 &__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-content);

  @include ipad {
   gap: rem(24);
  }

  @include t {
   grid-template-columns: repeat(2, 1fr);
  }

  @include m {
   grid-template-columns: 1fr;
  }
 }
}

.catalog {
 // .catalog__container
 &__container {
  @include container;
 }

 // .catalog__content
 &__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-content);

  @include ipad {
   gap: rem(24);
  }

  @include t {
   grid-template-columns: repeat(2, 1fr);
  }

  @include m {
   grid-template-columns: 1fr;
  }
 }
}
