@use 'foundation' as *;

.main {
 margin-bottom: var(--gap-section);

 &__banner {
  margin-bottom: var(--gap-content);
 }

 &__for,
 &__discount {
  padding-block: var(--gap-content);
 }

 &__catalog {
  padding-top: var(--gap-content);
 }
}

.banner {
 padding-top: rem(140);
 color: var(--white);

 @include bm {
  padding-top: rem(120);
 }

 &--home {
  @include bg-image-set('@/images/background/banner/banner-bg', 'jpg');

  min-height: 100vh;
 }

 &--catalog {
  @include bg-image-set('@/images/background/banner/catalog-bg', 'jpg');

  min-height: 400px;

  @media (width > rem($viewport)) {
   aspect-ratio: 1440 / 400;
  }
 }

 // .banner__container
 &__container {
  @include container;

  display: flex;
  flex-direction: column;
  row-gap: rem(16);

  @include bm {
   text-align: center;
  }
 }

 // .banner__title
 &__title {
  @include fluid-text(64, 28, $ipad, $xxsm);

  max-width: rem(790);
  margin-block: 0;
  font-weight: 600;
  line-height: 1.2;

  @include bm {
   margin-bottom: rem(44);
  }
 }

 // .banner__slogan
 &__slogan {
  @include fluid-text(24, 16, $ipad, $xxsm);

  max-width: rem(790);
 }

 // .banner__catalog-link
 &__catalog-link {
  max-width: max-content;
  color: inherit;
  transition:
   color var(--transition),
   text-decoration var(--transition);

  &:hover {
   text-decoration: none;
   color: var(--text-color);
  }

  @include bm {
   margin: 0 auto;
   font-size: rem(14);
  }
 }
}

.for {
 // .for__container
 &__container {
  @include container;
 }

 // .for__content
 &__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-content);

  @include ipad {
   grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
   justify-content: center;
   grid-template-columns: 1fr;
  }

  // .for__content-element
  &-element {
   @include fluid-text(34, 28, $ipad, $xxsm);

   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--white);
   padding-inline: rem(5);

   &--relax {
    @include bg-image-set('@/images/background/for/relax', 'jpg');

    grid-column: 1 / 4;
    grid-row: 1 / 2;
    aspect-ratio: 583 / 415;

    @include ipad {
     aspect-ratio: 379 / 415;
    }
   }

   &--sport {
    @include bg-image-set('@/images/background/for/sport', 'jpg');

    grid-column: 4 / 7;
    grid-row: 1 / 2;
    aspect-ratio: 583 / 415;

    @include ipad {
     aspect-ratio: 379 / 415;
    }
   }

   &--hobby {
    @include bg-image-set('@/images/background/for/hobby', 'jpg');

    grid-column: 1 / 3;
    grid-row: 2 / 3;
    aspect-ratio: 379 / 415;
   }

   &--kids {
    @include bg-image-set('@/images/background/for/kids', 'jpg');

    grid-column: 3 / 5;
    grid-row: 2 / 3;
    aspect-ratio: 379 / 415;
   }

   &--family {
    @include bg-image-set('@/images/background/for/family', 'jpg');

    grid-column: 5 / 7;
    grid-row: 2 / 3;
    aspect-ratio: 379 / 415;
   }

   @include ipad {
    grid-column: auto;
    grid-row: auto;
   }
  }
 }
}

.discount {
 // .discount__container
 &__container {
  @include container;
 }
}

.catalog {
 // .catalog__container
 &__container {
  @include container;
 }

 // .catalog__header
 &__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gap-content);
 }

 // .catalog__content
 &__content {
  margin-bottom: var(--gap-content);
 }

 // .catalog__link
 &__link {
  color: var(--black);
  transition: color var(--transition);

  &:hover {
   @media (any-hover: hover) {
    text-decoration: none;
    color: inherit;
   }
  }
 }
}
