@use 'foundation' as *;

html {
 scroll-padding-top: rem(60);
 scrollbar-width: thin; /* Може бути auto, thin або none */
 scrollbar-color: var(--brand-color) var(--background-second);
}

body {
 position: relative;
 min-height: 100vh;
 margin: 0;
 padding: 0;
 font-size: rem(16);
 font-weight: 400;
 line-height: 1.5;
 color: var(--text-color);
 border: 0;
 overflow-x: clip;
 font-family: var(--font-family), serif;
 background-color: var(--background);

 &.menu-active {
  padding-right: 7px;
  overflow-y: hidden;

  @include m {
   padding-right: 4px;
  }
 }

 @include l {
  font-size: rem(16);
 }
}

:focus-visible {
 outline: rem(2) solid var(--brand-color);
 outline-offset: rem(3);
 transition-duration: 0s !important;
}

.visually-hidden {
 position: absolute !important;
 width: 1px !important;
 height: 1px !important;
 margin: -1px !important;
 padding: 0 !important;
 overflow: hidden !important;
 white-space: nowrap !important;
 border: 0 !important;
 clip-path: inset(50%) !important;

 // prettier-ignore
 clip: rect(0 0 0 0)!important; /* stylelint-disable-line property-no-deprecated */
}

/* Загальний стиль для всіх веб-кіт браузерів */
::-webkit-scrollbar {
 width: 7px;
 height: 4px; /* Ширина смужки прокрутки */

 @include m {
  width: 4px;
 }
}

::-webkit-scrollbar-track {
 background: var(--background); /* Колір треку */
}

::-webkit-scrollbar-thumb {
 background-color: var(--brand-color); /* Колір смужки прокрутки */
 border: none; /* Простір між смужкою і треком  */
 border-radius: 10px; /* Округлені краї смужки прокрутки */
}

// ::-webkit-scrollbar-thumb:hover {
// 	background-color: var(--brand-color);background-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-color /* Колір смужки при наведенні */
// }

/* 
запобігти скачку контента при появі полоси прокрутки
.body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }
*/
