@use 'foundation' as *;

html {
 scroll-padding-top: rem(60);
 scrollbar-color: var(--brand-color) var(--background-second);
 scrollbar-width: thin; /* Може бути auto, thin або none */
}

body {
 position: relative;
 overflow-x: clip;
 min-height: 100vh;
 margin: 0;
 padding: 0;
 font-family: var(--font-family), serif;
 font-size: rem(16);
 font-weight: 400;
 line-height: 1.5;
 color: var(--text-color);
 background-color: var(--background);
 border: 0;

 &.menu-active {
  overflow-y: hidden;
  padding-right: rem(7);

  @include m {
   padding-right: rem(4);
  }
 }

 @include l {
  font-size: rem(16);
 }
}

:focus-visible {
 outline: rem(2) solid var(--brand-color);
 outline-offset: rem(3);
 transition-duration: 0s !important;
}

.visually-hidden {
 position: absolute !important;
 overflow: hidden !important;
 clip-path: inset(50%) !important;
 width: rem(1) !important;
 height: rem(1) !important;
 margin: rem(-1) !important;
 padding: 0 !important;
 white-space: nowrap !important;
 border: 0 !important;

 // prettier-ignore
 clip: rect(0 0 0 0)!important; /* stylelint-disable-line property-no-deprecated */
}

/* Загальний стиль для всіх веб-кіт браузерів */
::-webkit-scrollbar {
 width: rem(7);
 height: rem(4); /* Ширина смужки прокрутки */

 @include m {
  width: rem(4);
 }
}

::-webkit-scrollbar-track {
 background: var(--background); /* Колір треку */
}

::-webkit-scrollbar-thumb {
 background-color: var(--brand-color); /* Колір смужки прокрутки */
 border: none; /* Простір між смужкою і треком  */
 border-radius: rem(10); /* Округлені краї смужки прокрутки */
}

// ::-webkit-scrollbar-thumb:hover {
// 	background-color: var(--brand-color);background-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-color /* Колір смужки при наведенні */
// }

/* 
запобігти скачку контента при появі полоси прокрутки
.body { padding: 0 calc(rem(20) - (100vw - 100%)) 0 0; }
*/
